APP_ENV=local
DATABASE_URL=postgresql+psycopg2://invoice_user:invoice_pass@db:5432/invoices

# Vertex AI
GOOGLE_APPLICATION_CREDENTIALS=/secrets/gcp-sa.json
GCP_PROJECT_ID=tu-proyecto
GCP_LOCATION=europe-west1
GEMINI_MODEL=gemini-1.5-pro